Engine/build/
Engine/Library/
Engine/CMakeUserPresets.json
Engine/External
Engine/TempScene
Engine/Scene/Editor Layout/editor_layout.ini
editor_layout.ini
#wwise user-specific files
*.prof
*.validationcache
*.wsettings
*.ini